<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredients | LA PIZZERIA</title>
</head>
<body>
<h1><a th:href="@{'/'}">La Pizzeria</a></h1>
<h2>Ingredients</h2>
<div th:replace="~{admin/fragments/header :: header}"></div>

<a th:href="@{'/admin/ingredients/create'}">New ingredient</a>
<ul>
    <li th:each="ingredient: ${ingredients}">
        <a th:href="@{'/admin/ingredients/detail/' + ${ingredient.id}}">
            <span th:text="${ingredient.name}"></span>
            <span> - </span>
            <span th:text="'Available: ' + ${ingredient.available ? 'yes' : 'no'}"></span>
        </a>
    </li>
</ul>
</body>
</html>
