<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detail of a ' + ${listing.name} + ' | LA PIZZERIA'"></title>
</head>
<body>
<a th:href="@{'/admin/menu/edit/' + ${listing.id}}">Edit Listing</a><br>
<a th:href="@{'/admin/menu/delete/' + ${listing.id}}">Delete Listing</a><br>
<b>Name: </b><span th:text="${listing.name}"></span><br>
<b>Description: </b><span th:text="${listing.description}"></span><br>
<b>Price: </b><span th:text="${listing.price}"></span><br>
</body>
</html>
