<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detail of a ' + ${pizza.name} + ' | LA PIZZERIA'"></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h2>Pizza Detail</h2>

<b>Name: </b><span th:text="${pizza.name}"></span><br>
<b>Description: </b><span th:text="${pizza.description}"></span><br>
<b>Price: </b><span th:text="${pizza.price}"></span><br>
<b>Is available: </b><span th:text="${pizza.isAvailable() ? 'yes' : 'no'}"></span>
<p th:hidden="${pizza.ingredients.size() == 0 ? 'true' : 'false'}">Ingredients:</p>
<ul>
    <li th:each="ingredient: ${pizza.ingredients}">
        <span th:text="${ingredient.name}"></span>
    </li>
</ul>
</body>
</html>
