<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders | LA PIZZERIA</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="~{admin/fragments/header :: header}"></div>
<h2>Orders</h2>

<ul>
    <li th:each="order: ${orders}">
        <a th:href="@{'/admin/orders/detail/' + ${order.id}}">
            <span th:text="${order.user.lastName}"></span>
            <span th:text="${order.user.firstName}"></span>
            <span th:text="${order.price}"></span>
            <span th:text="${order.createdAt}"></span>
        </a>
    </li>
</ul>
</body>
</html>
